# ==============================================
#    DiscordRelay by lukeeey
#    https://github.com/lukeeey/DiscordRelay
# ==============================================

# Settings related to the Discord bot
discord-bot:
  # The token of the Discord bot
  token: ""

  # The ID of the Discord channel to relay messages between
  channel-id: ""

  # The topic of the Discord relay channel
  # Placeholders: {onlinePlayers}, {maxPlayers}, {tps}
  channel-topic: "hypixel.net | Players online: {onlinePlayers}/{maxPlayers}"

  # The interval at which the channel topic shall be updated
  # In seconds, set to -1 to only set it on bot start
  channel-topic-update-interval: 60

  # The status of the bot
  # Discord prefixes this so an example output would be "Playing on hypixel.net" or "Streaming on hypixel.net"
  status: "on hypixel.net"

  # What type of status should be shown?
  # Can either be PLAYING, STREAMING or LISTENING
  status-type: PLAYING


# Relay settings for different types of messages.
#
# In-game events (join, quit and death) can have the default messages by specifying the
# {default} placeholder.
#
# Discord markdown applies on the in-game events and server-to-discord sections as these messages
# will be displayed in the Discord channel!
relay:
  server-to-discord:
    enabled: true

    # Placeholders: {timestamp}, {playerName}, {displayName}, {message}
    format: "{playerName} » {message}"

    # When sending chat from Minecraft to Discord, replace @ with [at]
    # This prevents pinging people unnecessarily
    replace-at: true


  discord-to-server:
    enabled: true

    # Minecraft colour codes can be used here!
    # Placeholders: {discordUserRole}, {discordUserRoleColored}, {discordUserNickname}, {discordUserName},
    #               {discordUserDiscriminator}, {message}
    format: "§f[§bDiscord §f| {discordUserRoleColored}§f] {discordUserName} » {message}"

    # Display messages from Discord in console as well
    broadcast-to-console: true

    # Show messages sent by bots in-game
    allow-bot-messages: false

    # Discord messages exceeding this length will be truncated
    max-message-length: 255


  # Messages for specific server events!
  # Discord markdown (including emoji codes like :skull:) can be used here!
  events:
    join:
      enabled: true
      message: "**{playerName} joined the server**"
      embed: true
      embed-color: "#008000"
    quit:
      enabled: true
      message: "**{playerName} left the server**"
      embed: true
      embed-color: "#FF0000"
    death:
      enabled: true
      message: "**:skull: {default}**"
      embed: true
      embed-color: "#FF0000"
    server-start:
      enabled: true
      message: "**:white_check_mark: Server started!**"
      embed: true
      embed-color: default
    server-stop:
      enabled: true
      message: "**:x: Server stopped!**"
      embed: true
      embed-color: default


# The prefix for commands in Discord
discord-command-prefix: "!"


# Enable or disable access to Discord commands provided by this plugin by adding or
# removing entries from the list. Plugins can add their own commands by extending the DiscordCommand class,
# and you can enable them by listing their names here.
#
# Default commands provided by DiscordRelay are: playerlist, serverinfo, playerinfo
enabled-discord-commands:
  - playerlist
  - serverinfo
  - playerinfo


# Whether or not to show "Requested by (username)" in the footer of Discord embeds.
# This is only used when a user executes a command on Discord.
discord-embed-requested-by: true


# Enable the in-game Discord command on the server (/discord)
ingame-discord-command-enabled: true
ingame-discord-command-response: "Join our Discord server at §ehttps://discord.gg/myserver§f!"