# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: DiscordRelay

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: 1.8
          distribution: temurin

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload artifacts (Nukkit)
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: DiscordRelay Nukkit
          path: nukkit/target/discordrelay-nukkit-*.jar

      - name: Upload artifacts (Bukkit)
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: DiscordRelay Bukkit
          path: bukkit/target/discordrelay-bukkit-*.jar
